<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" [(ngModel)]="loginData.email" formControlName="email">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="loginData.password" formControlName="password">
      </mat-form-field>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="login()">Login</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>