<mat-toolbar color="primary">
    <button mat-button routerLink="/">My Messaging App</button>
    <button mat-button routerLink="/messages">Messages</button>
    <span style="flex: 1 1 auto"></span>
    <button mat-button routerLink="/login" *ngIf="!auth.isAuthenticated">Login</button>
    <button mat-button routerLink="/register" *ngIf="!auth.isAuthenticated">Register</button>
    <button mat-button routerLink="/user" *ngIf="auth.isAuthenticated">Welcome {{auth.name}}</button>
    <button mat-button (click)="auth.logout()" *ngIf="auth.isAuthenticated">Logout</button>
</mat-toolbar>
