<p>there are {{ webService.messages.length }} messages</p>
<div *ngFor="let message of webService.messages | async" >
    <mat-card>
        <mat-card-title [routerLink]="['/messages', message.owner]" style="cursor: pointer">
            {{ message.owner }}
        </mat-card-title>
        <mat-card-content>
            {{ message.text }}
        </mat-card-content>
    </mat-card>
</div>