<mat-card>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="model.firstName" matInput placeholder="First Name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="model.lastName" matInput placeholder="Last Name">
    </mat-form-field>
    <mat-card-actions>
      <button (click)="post()" mat-raised-button color="primary">Save User</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
