<mat-card>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <textarea [(ngModel)]="message.text" matInput placeholder="Leave a message"></textarea>
    </mat-form-field>
    <mat-card-actions>
      <button (click)="post()" mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
