/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #eeeeee; }

.mat-card {
    margin-top: 8px;
}

.mat-form-field {
    margin: 10px;
    clear: both;
    display: block;
    width: 250px;
}